





/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}





/* Navigation Bar*/



nav {
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
     width: 100%;
     height: 4.6em;
    background-color: #0068b8;
    background-image: url("https://www.transparenttextures.com/patterns/ravenna.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin-top: 0;
}


nav ul {
    list-style-type: none;
    margin: 0 auto;
    width: 50em;
    padding: 0;
}



nav ul li {
    float: left;

}

nav ul li a {
    display: block;
    padding: .7em;
    border: 1px solid white;
    border-radius: .5em;
    margin-top: 1em ;
    margin-left: 1.5em;
    text-decoration: none;
    background-color: white;
    color: black;
    font-variant: small-caps;

}

nav ul a:focus {
    co: #fff;
}

nav ul a:hover {
    background-color: #0068b8;
    color: white;
    border: 1px solid #0068b8;

}

nav ul a:active {
    position:relative;
    bottom: .3em;
    left: .2em;
    color: #fff;


}

/*End Navigation*/












/*-------------------*/ /*------------------- Single Elements /*----------------------------*/ /*-----------------------------*/




h2,  p {
    text-align: center;
}

.heading {
    font-family: "Orbitron", serif ;


}

.two p {

    font-family: 'Quicksand', sans-serif;
}


/*-------------------*/ /*------------------- article container /*----------------------------*/ /*-----------------------------*/



body {
    background-color: #004f94;
background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
width: 100%;
}




article {
    width: 100%;
    height: auto;
    max-width: 319px;
    margin: 0 auto;
    border: 2px solid black;
    background-color: grey;
    border-radius: 10px;
    margin-top: 10em;
}


/*-----------------------*/ /*------------------------ Image --------------------------------*//*--------------------------------*/

.responsive {
    max-width: 100%;
    height: auto;
    border-radius: 30%;
    border: 2px solid ivory;
}




/*-----------------------*/ /*------------------------ floats --------------------------------*//*--------------------------------*/


.float {
    position: relative;
    max-width: 300px;
    float: left;
}

.zero {
    left: 27px;
    min-width: 200px;
    font-family: "Orbitron", serif ;



}

.one {
    text-align: center;
    left: 59.5px;
    min-width: 200px;
    clear: left;
}

.two {
    left: 9.5px;
    min-width: 200px;
    clear: left;
}

/*-----------------------*/ /*------------------------ footer --------------------------------*//*--------------------------------*/




footer {
    width: 100%;
    text-align: center;
    clear: both;
    margin-top: 3em;
}


footer a {
    position: relative;
    top: 1px;
    color: black;
    padding: 3px;
    text-decoration: none;
    border: 2px solid black;
    border-bottom: none;
    background-color: white;
}

footer a:hover {
    background-color: slategrey;
    border-bottom: 2px solid black;
}


footer a:active {
    position: relative;
    top: 2px;
    left: 2px;
}




.foot {
    margin-top: 20em;
    font-variant: small-caps;
    color: #fff;
    font-size: small;
}





/*-----------------------*/ /*------------------------ About me section --------------------------------*//*--------------------------------*/




/*-----------------------*/ /*------------------------ Name Section --------------------------------*//*--------------------------------*/




/* profile link style */


